*{
    font-family: Arial, Helvetica, sans-serif;
}
.btnprincipal{
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.btnsecundario{
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
h1{
    color: rgb(17, 17, 17);
}
h2{
    color: rgb(49, 49, 49);
}
p{
    color: rgb(80, 80, 80);
}
nav{
    display: flex;
    background-color: aliceblue;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: rgb(17, 17, 17);
}
.navegacao{
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: center;
    margin-left: auto; 
    margin-right: 20px;
    color: rgb(49, 49, 49);
    font-weight: bold;
}
body{
    margin: 0px;
    background-color: aliceblue;
}
main{
    margin-top: 120px;
}
.sec1{
    padding-right: 100px;
    padding-left: 100px;
    margin-bottom: 120px;
    text-align: left;
    display: flex;
    align-items: center;
    background-color: aliceblue;
}
.sec2{
    padding-right: 100px;
    padding-left: 100px;
    background-color: azure;
    display: flex;
}
#userfoto{
    margin-left: auto;
}
#userfoto img{
    width: 290px;
    border-radius: 190px;
    margin-top: 20px;
}